.import-preview th,
.import-preview td{
    padding: 0.5rem;
    border: 1px solid #dee2e6;
}
.import-preview th{
    color: #6c757d;
    font-weight: bold;
    background-color: #f1f5f7;
    border-color: #dee2e6;
}
.import-form{
    margin-bottom: 2rem;
}
.display-none{
    display: none;
}
.responsive-table{
    max-width: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 1rem;
}
.grp-button.confirm{
    width: auto;
}
.field-invalid{
    background-color: rgba(220, 20, 20, 0.384);
}
.field-valid{
    background-color: rgba(127, 255, 165, 0.164);
}
.badge{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge.danger{
    color: #fff;
    background-color: #dc3545;
}
.badge.warning{
    color: #212529;
    background-color: #ffc107;
}
.badge.success{
    color: #fff;
    background-color: #28a745;
}
.badge.info{
    color: #fff;
    background-color: #17a2b8;
}